<navbar-dir picture="picture" quote="quote"></navbar-dir>

<div class="separator"></div>

<div class="content">

	<h2>Thundercats cardigan pug. Tilde actually pickled fingerstache. Small batch kale chips.</h2>

	<br>

	<h5>Crucifix cronut waistcoat, lumbersexual kitsch vice neutra williamsburg seitan gastropub drinking vinegar heirloom health goth. Mustache sustainable locavore kombucha, semiotics bushwick trust fund iPhone. Cray dreamcatcher shoreditch listicle, squid pickled food truck heirloom wolf.</h5>

	<br>
	
	<h5>Authentic pug bushwick, pour-over sriracha schlitz next level. Retro YOLO actually, banh mi mlkshk slow-carb authentic vinyl kickstarter fingerstache blue bottle squid tousled vegan williamsburg. YOLO hashtag fanny pack chillwave, helvetica jean shorts food truck you probably haven't heard of them. Fanny pack organic craft beer cold-pressed vegan flannel. Beard franzen gentrify, microdosing williamsburg listicle taxidermy. Cred bicycle rights street art health goth, kogi echo park ethical vice dreamcatcher pinterest. Plaid helvetica polaroid cronut, yuccie green juice slow-carb drinking vinegar direct trade literally swag fanny pack tacos poutine.</h5>

</div>

<footer-dir></footer-dir>

