<ul class="social-media-links">
	<li><a href=""><img src="images/blue/60_60/linkedin.png"></a></li>
	<li><a href="https://www.facebook.com/ErinSheridan"><img src="images/blue/60_60/facebook_1.png"></a></li>
	<li><a href="https://twitter.com/ErinSMusic"><img src="images/blue/60_60/twitter_2.png"></a></li>
	<li><a href="mailto:sheridanerin@gmail.com"><img src="images/blue/60_60/google.png"></a></li>	
</ul>

<div class="separator-small"></div>
<div class="color-bar">
	<div class="blue-separator"></div>
	<div class="tan-separator"></div>
	<div class="separator-large">
		<div class="image-credits">
			<p>Image Credits / Daniel Rodriguez / </p>
			<p><a href="http://www.redbubble.com/people/awkwardrobot" target="blank">www.redbubble.com</a> / <a href="mailto:sheridanerin@gmail.com">drod85@gmail.com</a></p>  
		</div>	
		<div class="copyright">
			<p>This site was made with <i class="fa fa-heart"></i> by Erin Sheridan</p>
		</div>
	</div>
</div>