<navbar-dir picture="erinPicture" quote="quote"></navbar-dir>

<div class="separator"></div>

<div class="content">

	<h2>I'm a technical project manager turned web developer; I love music, travelling, dogs (especially my Shiba Inu, Sherry), outdoor adventuring, and understanding the human brain. </h2>

	<br>

	<h5>I remember my first computer. I remember wandering in from the corn fields where I grew up in England and seeing it being installed in the family office. I played brick breaker and snake. That was the beginning of watching the world change. The advent of technology into daily life has changed the way humans interact, and has shaped many advances in society.</h5>

	<h5>I've worked in many roles, the most recent spanning a wide range of IT, including tech-support, team-lead, project manager, and educator. This gives me a unique persepctive on technology and culture that I utilize frequently to find creative and personalized solutions for businesses and individuals. </h5>

	<br>
	
	<h5>Want to chat about a potential project?</h5>
	<h5><a class="nodecoration" href="mailto:sheridanerin@gmail.com">sheridanerin@gmail.com</a><h5>
	<h5>Or, feel free to catch me on any of the social media options below.<h5>

</div>

<footer-dir></footer-dir>