<navbar-dir picture="picture" quote="quote"></navbar-dir>

<div class="separator"></div>

<div class="content2">

	<a href="http://famgraph.io/#/" target="_blank">
		<h3 class="project-title">FamGraph - Family Tree Visualization</h3>
		<img src="images/famgraph.png" class="projects">
	</a> <br>
	<p>Worked on a team of four to create a data visualization app that takes in family tree data from family-search.org and outputs beatiful visual representations that are intelligently organized and exhibited. Utilzed the following technologies: ES2015, HTML5, CSS, AngularJS, MongoDB, MongoLab, NodeJS, Express, Mongoose, Passport - FamilySearch Strategy, Gulp, Stylus, UnderscoreJS, and FontAwesome.</p>
	<p>Github repo can be found <a href="https://github.com/family-visualizer/family-visualizer">here.</a>
</p>
	<br><hr><br>

	<a href="http://www.villaCathedral.com" target="_blank">
		<h3 class="project-title">Electronic Medical Records System</h3>
		<img src="images/EMRwithMenu.png" class="projects">
	</a> <br>
	<p>Built a conceptual Electronic Medical Records System.  This is a patient database and scheduling tool.  Utilized the following technologies: HTML5, CSS, AngularJS, Angular Material, MongoDB, NodeJS, Express, Mongoose, Passport - Local Strategy, Gulp, and Stylus.</p>
	<p>Github repo can be found <a href="https://github.com/sheridanerin/EMR">here.</a>
	<br><br><hr>


</div>

<div class="wps-sub-content" id="WPST-content">

	<h1>What People Say</h1><br>

	<h4>"Erin is the pinnacle of a problem solver- efficient, highly intelligent, sees the big picture and is easy to talk to top it off. You couldn't ask for a better person to help you out in your time of need."</h4>

	<h3 class="authorIndent">- Daniel Rodriguez - MegaPath, Supervisor, NOC/Provisioning</h3>

	<br><hr><br>

	<h4>“Erin has an insatiable appetite for learning new things.  You can tell she enjoys problem solving and logic puzzles.  And she can code!"</h4>

	<h3 class="authorIndent">- Jeremy Robertson - DevMountain, Lead Instructor</h3>

	
</div>

<footer-dir></footer-dir>
