<navbar-dir picture="picture" quote="quote"></navbar-dir>

<div class="separator"></div>

<div class="content">

	<h4>"Erin is the pinnacle of a problem solver- efficient, highly intelligent, sees the big picture and is easy to talk to top it off. You couldn't ask for a better person to help you out in your time of need."</h4>

	<h3>Daniel Rodriguez - MegaPath, Supervisor, NOC/Provisioning</h3>

	<br><br>

	<h4>"Blah blah blah..  FancyPants McGee.  Cray dreamcatcher shoreditch listicle, squid pickled food truck heirloom wolf."</h4>

	<h3>Someone Very Important</h3>

	
</div>

<footer-dir></footer-dir>