html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

.topBar {
	height: 60px;
	width: 100%;
	background-color: #121212;
	margin-top: 0;
	position: fixed;
}

.topBarName {
	float: left;
	padding-left: 24px;
	margin-top: 14px;
}

.links {
	list-style-type: none;
}

.links li {
	float: right;
	padding-right: 24px;
	margin-top: 5px;
}

.bannerPic {
	width: 100%;
	margin-top: 60px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: gray;
}

.quoteBox {
	z-index: -1;
	margin-top: -135px;
	background-color: #7933bf;
	opacity: 0.6;
	width: 100%;
	height: 80px;
}

.quote {
	z-index: 1;
	font-family: cursive;
	color: black;
	margin: 0 auto;
	margin-top: -70px;
	width: 90%;
}

.centered {
	z-index: 1;
}

.emphasis {
	color: #77b0f9;
}
