html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

.topBar {
	height: 60px;
	width: 100%;
	background-color: #121212;
	margin-top: 0;
	position: fixed;
}

.topBarName {
	float: left;
	padding-left: 24px;
	margin-top: 14px;
}

.links {
	list-style-type: none;
}

.links li {
	float: right;
	padding-right: 24px;
	margin-top: 5px;
}

.bannerPic {
	width: 100%;
	margin-top: 60px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: gray;
}

.quoteBox {
	margin-top: -125px;
	background-color: rgba(99,149,242, .6);
	width: 100%;
	height: 70px;
	position: absolute;
}

.quote {
	font-family: cursive;
	color: black;
	text-align: center;
	line-height: 40px;
}

.emphasis {
	color: #77b0f9;
}
